# Copyright (c) 2021 Pavel Glushkov
# SPDX-License-Identifier: MIT

config BOARD_KBD533_LEFT
	bool "kbd533_left"
	depends on SOC_NRF52833_QIAA

config BOARD_KBD533_RIGHT
	bool "kbd533_right"
	depends on SOC_NRF52833_QIAA
